name: Auto add to project

on:
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issues and PRs to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/stratiformdigital/projects/4
          github-token: ${{ secrets.PAT_PUBLIC }}
          labeled: security-hub
          label-operator: NOT
